@{
    ViewData["Title"] = "Login";
}

<head>
    <link href="~/css/SignUp.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="login-content">
        <form id="login-form" class="signup-form">
            <div class="form-group">
                <h1>Welcome!</h1>
                <h2>Login to crowdcube.</h2>
            </div>
            <div class="form-group">
                <label class="label">Username</label>
                <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" required="required" />
            </div>

            <div class="form-group">
                <label class="label">Password</label>
                <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required="required" />
            </div>

            <div class="form-group">
                <label class="label">Role</label>
                <select name="Role" id="Role" class="form-control">
                    <option value="ProjectCreator">ProjectCreator</option>
                    <option value="Backer">Backer</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" class="signup-btn" value="Sign In" />
            </div>

            <div class="form-group">
                <div id="responseDiv"></div>
            </div>

        </form>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}



